<h1> Welcome to <%= @user.username %>'s Page! </h1>
<% if logged_in? %>
  <p> Current Logged In User: <%= current_user.username %> </p>
<% end %>
<br>
<%= link_to "Home", root_path %>
<br>
<%= link_to "Host a New Event!", new_event_path %>
<br>
<h3> Here are the events the user is hosting: </h3>

<% @hosted_events.each do |event| %>
  <ul>
    <li><%= link_to "See Event", event %></li>
    <li>Title: <%= event.title %> </li>
    <li>Details: <%= event.details %> </li>
    <li>Time: <%= event.date %> </li>
  </ul>
<% end %>

<br>
<br>
<h3> Here are the previously attended events: </h3>
<% @previous_events.each do |event| %>
  <ul>
    <li><%= link_to "See Event", event %></li>
    <li>Title: <%= event.title %> </li>
    <li>Host: <%= event.creator.username %> </li>
    <li>Details: <%= event.details %> </li>
    <li>Time: <%= event.date %> </li>
  </ul>
<% end %>

<br>
<br>
<h3> Here are the upcoming events: </h3>
<% @upcoming_events.each do |event| %>
  <ul>
    <li><%= link_to "See Event", event %></li>
    <li>Title: <%= event.title %> </li>
    <li>Host: <%= event.creator.username %> </li>
    <li>Details: <%= event.details %> </li>
    <li>Time: <%= event.date %> </li>
  </ul>
<% end %>

<br>
<br>
<h3> Here are the events the user is invited to: (<%= @user.invitations.count %>)</h3>
<% @invitations.each do |invitation| %>
  <ul>
    <li><%= link_to "See Invitation", invitation %></li>
    <li>Title: <%= invitation.invited_event.title %> </li>
    <li>Host: <%= invitation.invited_event.creator.username %> </li>
    <li>Details: <%= invitation.invited_event.details %> </li>
    <li>Time: <%= invitation.invited_event.date %> </li>
  </ul>

<% end %>
