<h3> Make a new Event! </h3>
<% if logged_in? %>
  <p> Current Logged In User: <%= current_user.username %> </p>
<% end %>
<br>
<br>
<%= form_for @event do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :details%>
  <%= f.text_field :details %>
  <br>
  <br>
  <%= f.label :date%>
  <%= f.date_select :date %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
